#semi-complex-tank-container {
  position: relative;
}

#semi-complex-tank {
  margin: 0;
}

#info {
  background: rgba(0 0 0 / 0.8);
  color: #FFFFFF;
  font-family: monospace;
  left: 1rem;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
}
